/* Universal */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General Styling */
body{
    text-align: center;
    background-color: lightgray;
    background-image: url("https://images.pexels.com/photos/414102/pexels-photo-414102.jpeg?cs=srgb&dl=pexels-pixabay-414102.jpg&fm=jpg");
}
h2{
    color: purple;
}
/* Navbar list styling */
.navbar-nav li{
    margin: 0 0.8rem;
}
/* logo image */
.logo{
    width: 3rem;
    border-radius: 50;
}
/* Home General Styling */
#home{
     /* margin-top: 5%; */
}
/* Home image */
.wrapper img{
    width: 35rem;
}
.home-container{
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,2fr);
    justify-content: center;
    margin-top: 5em;
    
}
.h2-2{
    grid-column: 1/-1;
    /* background-color: blanchedalmond; */
}
.h2-3{

   
}
.h2-1{

}
.h2-4{

}
/* About inline */
#about figure{
    display: flex;
    justify-content: center;
}
/* #about-container{
    width: 60rem;
    background-color: black;
    
} */
/* About image */
.image-about{
    width: 20%;
    height: 50%;
    margin-left: 10%;
}
/* Resume */
#resume p{
    text-align: center;
    border-style: dashed;
    border-radius: 10%;
    border-color: azure;
    width: 235px;
    height: 215px;
    border-radius: 100px / 50px;
    box-sizing: border-box;
    padding-top: 20px;
    margin:auto;
    color: black;
}
/* Navbar link */
a{
    text-decoration: none;
    color: purple;
}
.navbar a:hover{
    color: green;
}

/* testimonial 1 styling */

#testimonial .first-testimonial{
    position: relative;
    width: 32%;
    min-width: 1%;
    height: auto;
    margin: auto;
    padding: 15px;
    padding-bottom: 1%;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    box-shadow: 0 0 10px #c1c1c1;
    margin-top: 1%;
    margin-bottom: 2%;
    /* opacity: 0.5; */
    

}
/* testimonial 2 styling */

#testimonial .second-tetstimonial{
    /* Real styles */
    position: relative;
    width: 30%;
    min-width: 5%;
    height: auto;
    margin: auto;
    padding: 15px;
    padding-bottom: 1%;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    box-shadow: 0 0 10px #c1c1c1;
    margin-top: 1%;
    margin-bottom: 2%;
}
/* testimonial 3 styling */
#testimonial .third-testimonial{
    position: relative;
    width: 30%;
    min-width: 5%;
    height: auto;
    margin: auto;
    padding: 15px;
    padding-bottom: 1%;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    box-shadow: 0 0 10px #c1c1c1;
    margin-top: 1%;
    margin-bottom: 5%;

}
/* Testimonial first image */
.first-image{
    /* width: 15rem; */
}
#contain{
    width: 500px;
    height: auto;
    background-color: white;
    margin: auto;
    border-radius: 3%;
    margin-bottom: 10%;
}
/* Skills */
#skills{
    margin-top: 5%;
}
#skills .container {
    width: 40%;
}
/* Project */
#project figure img{
    width: 10rem;
}
/* #project-container{
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
} */

/* Media Query */
@media screen and (max-width: 900px){
    #skills .container{
        min-width: 18em;
    }

}
@media screen and (max-width: 300px){
    #skills .container{
        min-width: 13em;
    }
    
}


